body{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
h1{
    color: black;
    font-size: 70px;
}
input{
    width: 200px;
    padding: 7px;
    margin: 5px;
}